body{
    background-color: #808080;
    color: azure;
}
.container{
    min-width: 50%;
}

.jumbotron{
    background-color: black;
    color: azure;
}
#formDiv{
    /* startBtn cahnges this */
    visibility: hidden;
}
.btn{
    background-color: rebeccapurple;
}

.card{
    background-color: black;
    color: azure;
    border: 1px dashed red;
    text-align: center;
    width: 16rem;
}

.cardCon{
    display: flex;
    flex-flow: row wrap;
}